<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<header>
    <nav th:insert="fragments/nav :: nav_fragment"></nav>
</header>
<div class="w-75 ml-2 bg-primary  mt-5">
<h1 class="text-white p-5">index page</h1>
<p class="text-white ">this is some text.</p>
</div>

<footer class="bg-dark p-4 fixed-bottom text-white text-center " th:insert="fragments/footer :: footer_fragment">

</footer>
</body>
</html>